h2{
    font-size: 32px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
    background-color: ghostwhite;
}

#main .round {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 4px;
    padding: 10px;
    text-align:center;
    background-color: firebrick;
    color: white;
    font-weight: bold;
}

button.round{
    width:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:50px;
    font-size:16px;
    margin-bottom:30px;
}